.animated-underline {
  position: relative;
  display: inline-block;
}

.animated-underline::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #f87171;
  transition: width 0.4s ease;
}

.animated-underline:hover::before {
  width: 100%;
}
